In [13]:
import pandas as pd
import numpy as np
from read_path_module import read_data_relative_path
from write_path_module import write_data_relative_path

### - Import the dataset

In [22]:
df = read_data_relative_path('./data/CDC_Natality/2003_2018.csv', data_type='csv')

### - Create pandas datetime column

In [23]:
df['DT'] = pd.to_datetime(df['Year'].astype(str)  + df['Month Code'].astype(str), format='%Y%m')
df.sample(3)

,Notes,Year,Year Code,Month,Month Code,State,State Code,County,County Code,Births,Average Age of Mother,Average LMP Gestational Age,DT
29964,NaN,2007,2007,April,4,Wisconsin,55,"Waukesha County, WI",55133,351.0,30.09,38.67,2007-04-01
106878,NaN,2017,2017,July,7,Minnesota,27,"Stearns County, MN",27145,169.0,29.01,38.70,2017-07-01
106827,NaN,2017,2017,July,7,Maryland,24,"Cecil County, MD",24015,91.0,28.35,38.74,2017-07-01

### -

### -

### -

### -

### -

### -

### -

### -

### -

### -

### -

### -

### -

### -

### -

### -

### -

### -

### -

In [4]:
df[df['County Code']==1003]

,Notes,Year,Year Code,Month,Month Code,State,State Code,County,County Code,Births,Average Age of Mother,Average LMP Gestational Age
0,NaN,2003.0,2003.0,January,1.0,Alabama,1.0,"Baldwin County, AL",1003.0,131.0,26.77,37.97
572,NaN,2003.0,2003.0,February,2.0,Alabama,1.0,"Baldwin County, AL",1003.0,134.0,26.32,38.65
1144,NaN,2003.0,2003.0,March,3.0,Alabama,1.0,"Baldwin County, AL",1003.0,142.0,26.74,38.41
1716,NaN,2003.0,2003.0,April,4.0,Alabama,1.0,"Baldwin County, AL",1003.0,157.0,27.72,37.9
2288,NaN,2003.0,2003.0,May,5.0,Alabama,1.0,"Baldwin County, AL",1003.0,146.0,27.16,37.91
...,...,...,...,...,...,...,...,...,...,...,...,...
114748,NaN,2018.0,2018.0,August,8.0,Alabama,1.0,"Baldwin County, AL",1003.0,202,28.20,38.52
115376,NaN,2018.0,2018.0,September,9.0,Alabama,1.0,"Baldwin County, AL",1003.0,209,28.86,38.59
116004,NaN,2018.0,2018.0,October,10.0,Alabama,1.0,"Baldwin County, AL",1003.0,206,27.37,38.13
116632,NaN,2018.0,2018.0,November,11.0,Alabama,1.0,"Baldwin County, AL",1003.0,182,27.86,38.15
117260,NaN,2018.0,2018.0,December,12.0,Alabama,1.0,"Baldwin County, AL",1003.0,193,28.17,38.63